{% assign page = include.page %}

<meta property="og:url"          content="{{ page.url }}" />
<meta property="og:type"         content="article" />
<meta property="og:locale"       content="de_DE" />
<meta property="og:title"        content="{{ page.title | strip_html | truncate: '250' | escape }}" />
<meta property="og:description"  content="{{ page.excerpt | strip_html | truncate: '250' | escape }}" />
<meta property="og:image"        content="{{ page.feature-img | default: site.header_feature_image | absolute_url }}" />

<meta name="twitter:card"        content="summary" />
<meta name="twitter:description" content="{{ page.excerpt | strip_html | truncate: '250' | escape }}" />
<meta name="twitter:title"       content="{{ page.title | strip_html | truncate: '250' | escape }}" />
<meta name="twitter:image"       content="{{ page.feature-img | default: site.header_feature_image | absolute_url }}" />
